body {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: sans-serif 
}


table {

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    color: white;

}

td {

    font-family: sans-serif;
    font-size: 80px;
    border: 3px solid;
    border-image-slice: 1;
    text-align: center;
    width: 150px;
    height: 150px;
}


#txt_joueur {

  text-align: center;
  color: white;
}


.button1{
  margin-left: 5px;
  padding: 40px 90px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button1:hover {
  background-color: #ff6347;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button_decale{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.button_decale:hover {
  background-color: #ff6347;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

form__group {
    position: relative;
    padding: 15px 0 0;
    width: 25%;
  }
  
  .form__field {
    font-family: inherit;
    width: 15%;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    top : 20px;
    left : 20px;
    position: absolute;
  }

#j2 {
  top : 90px;
  color: white;
  font-family: sans-serif
}

#j1 {
    color: white;
}